@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.column {
    float: left;
    width: 22%;
}

button.retrieve {
    width: 100%;
    clear: both;
}

#jokes {
    margin-top: 20px;
}